* {
    margin: 0;
    padding: 0;
    background-color: rgb(9, 9, 53);
    --border: none;
}



#navbar {
    height: 10vh;
    min-height: 80px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-bottom: 15px;
}


/* Header */

.nav-container {
   height: 100%;
   margin: 0 30px;
   font-family: sans-serif;
   font-weight: 100;

   display: flex;
   justify-content: space-between;
   align-items: center;
   /* border: solid black 2px; */
   max-width: 1650px;
   width: 100%;
   gap: 50px;
}

#brand {
    display: flex;
    align-items: center;
    gap:8px;
}

#brand h1 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
}

#navbar img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#highlight {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
}

#navbar nav {
    border: var(--border);
    flex-basis: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#navbar a{
    color: inherit;
    text-decoration: inherit;
}

#navbar nav ul {
    display: flex;
    height: 80px;
    /* border: solid black 2px; */
    justify-content: end;
    align-items: center;
    gap: 50px;
}

#navbar nav ul li{
    list-style-type: none;
}

#search-bar #mic-button {
    color: lightgray;
    border: 0;
    position: absolute;
    top: 9px;
    right:10px;
}

#search-bar {
    position: relative;
    width: 300px;
}

#search-bar input{
    background-color: rgb(7, 7, 100);
    border: 1px darkblue solid;
    border-radius: 5%;
    height: 35px;
}

#search-bar input[type=text] {
    width: 100%;
    padding-left: 30px;
    box-sizing: border-box; 
}

#searchbar-magnify-icon {
    position: absolute;
    left: 10px;
    top: 9px;
}

::placeholder {
    color: lightgray;
}




/* Main */

body{
    padding: 20px;
    height: 83vh;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    width: 100%;
}


/* main */

main {
    padding: 50px 100px;
    border: var(--border);;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: 300px 300px 200px 200px 200px;
}

main::-webkit-scrollbar { width: 0 !important }

section {
    border: var(--border);
    color: white;
}

#playlist-reccomendation {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#playlist-reccomendation div{
    width: 300px;
    background-image: url(./photos/linkin-park.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}




#latest-release-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

}

.latest-item {
    display: flex;
    position: relative;
    align-items: center;
}


.latest-item img{
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

#latest-release h2 {
    margin-bottom: 20px;
}

#latest-release h3 {
    line-height: 1.5rem;
    font-weight: 450;
}

#latest-release-date {
    color: grey;
    font-size: 12px;
}

#latest-item-option {
    position: absolute;
    right: 20px;
    top: 5px;
}





/* Queue bar */

aside {
    border: var(--border);
    height: 100%;
    overflow: hidden;
}

#queue {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(15, 65px);
    overflow-y: scroll;
}



#queue::-webkit-scrollbar { width: 0 !important }

#queue-header {
    position: relative;
    height: 40px;
}

#queue-header h1{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight:500;
    display: inline-block;
}

#queue-header button {
    display: inline-block;
    color: greenyellow;
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
}


.queue-item {
    padding: 20px;
    border: var(--border);
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.queue-item p {
    color: grey;
}

.queue-item img {
    width: 40px;
    height: 40px;
}

.queue-item h2 {
    font-size: 16px;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.queue-item h2 span{
    display: block;
    font-size: 13px;
    color: grey
}

.queue-item i {
    position: absolute;
    right: 50px;
}


